<div class="card mb-4">
  <div class="card-body">
    <h2 class="card-title">
    <%= @subject.name %>
    </h2>
    <h3><%= t ".detail" %></h3>
    <p class="card-text">
      <%= @subject.detail %>
    </p>
    <h3><%= t ".supervisor" %> </h3>
      <% @course.supervisors.each do |supervisor| %>
        <%= link_to supervisor.name, admin_supervisor_path(supervisor) %>
      <% end %>
    <h3><%= t ".section" %></h3>
    <p class="card-text">
      <% @subject.sections.each do |section| %>
      <%= link_to section.name, admin_course_subject_section_path(@course, @subject, section) %>
      </br>
      <% end %>
    </p>

    <div id="complete_form">
      <% if @course_subject.completed %>
        <%= form_for @course_subject, url: admin_course_subject_path(@course, @subject) do |f| %>
          <div><%= f.hidden_field :completed, value: false %></div>
          <%= f.submit "Uncomplete", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <%= form_for @course_subject, url: admin_course_subject_path(@course, @subject) do |f| %>
          <div><%= f.hidden_field :completed, value: true %></div>
          <%= f.submit "Complete", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
