<div class="card mb-4">
  <div class="card-body">
    <h2 class="card-title">
    <%= @subject.name %>
    </h2>
    <h3><%= t ".detail" %></h3>
    <p class="card-text">
      <%= @subject.detail %>
    </p>
    <h3><%= t ".supervisor" %> </h3>
      <% @course.supervisors.each do |supervisor| %>
        <%= link_to supervisor.name, admin_supervisor_path(supervisor) %>
      <% end %>
    <h3><%= t ".section" %></h3>
    <p class="card-text">
      <% @subject.sections.each do |section| %>
        <%= link_to section.name, course_subject_section_path(@course, @subject, section) %>
        </br>
      <% end %>
    </p>
  </div>
</div>
